# we don't want to push changes to example.json by default
./example.json
# ignore compilation artifacts
*.pyc
*.swp
beanmachine.log

# Don't track content of these folders
.vscode/
*.egg-info/
outputs/
**/__pycache__/
